discord.py
python-dotenv
python-dateutil
motor
pymongo
Pillow
requests
beautifulsoup4
aiohttp
TikTokLive==6.6.5

# voice translation
faster-whisper
deep-translator
discord-ext-voice-recv
numpy
ffmpeg-python
PyNaCl
